<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>All Done Lists</h2>
        </div>
        <div class="col-6 text-end">
            <button mat-raised-button color="primary" routerLink="../listing">Back</button>&nbsp;
        </div>
    </div>
    <mat-divider></mat-divider>

    <!-- Show all list -->
    <ng-container *ngFor="let data of all_data;let i = index">
        <ng-container *ngIf="data.is_completed">
            <mat-card class="my-3">
                <div class="row">
                    <div class="col-1 my-auto">
                        <mat-checkbox [checked]="data.is_completed" (click)="data.is_completed = !data.is_completed"
                            color="primary"></mat-checkbox>
                    </div>
                    <div class="col-9 my-auto">
                        <h2 class="mb-0">{{data?.title}}</h2>
                        <mat-card-subtitle class="mb-0">{{data?.description}}</mat-card-subtitle>
                    </div>
                    <div class="col-2 my-auto">
                        <p class="mb-0 text-capitalize">{{data?.repeating_task}}</p>
                    </div>
                </div>
            </mat-card>
        </ng-container>
    </ng-container>

    <!-- If list is empty -->
    <!-- <ng-container *ngIf="all_data.length == 0">
        <app-empty-view>
            <mat-card class="my-3 text-center">
                <div class="row min-vh-25">
                    <div class="col-12 my-auto">
                        <h3>List not found.</h3>
                    </div>
                </div>
            </mat-card>
        </app-empty-view>
    </ng-container> -->

</div>