<app-loader *ngIf="common.loader"></app-loader>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="push">
    <div class="row border-bottom">
      <div class="col-6">
        <h2>Todo App</h2>
      </div>
      <div class="col-6 text-end">
        <mat-icon (click)="drawer.toggle()">close</mat-icon>
      </div>
    </div>
    <ul>
      <ng-container *ngFor="let route of routes">
        <li class="d-flex" (click)="drawer.toggle()" [routerLink]="route.link" routerLinkActive="active">
          <mat-icon class="my-auto">{{route.icon}}</mat-icon>&nbsp;&nbsp; <span class="my-auto">{{route.title}}</span>
        </li>
      </ng-container>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-header [drawer]="drawer"></app-header>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>